# Binaries
/bin/
/dist/
/build/

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
coverage.out

# Dependency directories
vendor/

# Go workspace
go.work

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.local

# Temporary files
tmp/
temp/

lokex.yaml

manifest.json

/manifests/